.login-page {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}


#emaiil {
     
    width: 100%;
    max-width: 293px;
    padding: 9px;
    margin: 0%;
    height: 100%;
    padding-right: 115px;
}



#pasword {
    width: 100%;
    max-width: 293px;
    padding: 9px;
    margin: 0%;
    height: 100%;
    padding-right: 115px;
}



